@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9828 0.0085 247.9123);
  --foreground: oklch(0.3416 0.0352 248.8936);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3416 0.0352 248.8936);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3416 0.0352 248.8936);
  --primary: oklch(0.5931 0.1365 265.197);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9351 0.0309 263.5127);
  --secondary-foreground: oklch(0.4544 0.0743 262.6518);
  --muted: oklch(0.9678 0.0086 247.9141);
  --muted-foreground: oklch(0.5759 0.0292 248.3334);
  --accent: oklch(0.9624 0.0358 207.3513);
  --accent-foreground: oklch(0.3416 0.0352 248.8936);
  --destructive: oklch(0.7126 0.2344 343.7987);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9273 0.0139 247.9767);
  --input: oklch(0.9273 0.0139 247.9767);
  --ring: oklch(0.5931 0.1365 265.197);
  --chart-1: oklch(0.5931 0.1365 265.197);
  --chart-2: oklch(0.765 0.1147 263.0947);
  --chart-3: oklch(0.7133 0.1285 248.8827);
  --chart-4: oklch(0.7492 0.1232 254.0471);
  --chart-5: oklch(0.5479 0.1156 255.7286);
  --sidebar: oklch(0.9678 0.0086 247.9141);
  --sidebar-foreground: oklch(0.3416 0.0352 248.8936);
  --sidebar-primary: oklch(0.5931 0.1365 265.197);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9624 0.0358 207.3513);
  --sidebar-accent-foreground: oklch(0.3416 0.0352 248.8936);
  --sidebar-border: oklch(0.9273 0.0139 247.9767);
  --sidebar-ring: oklch(0.5931 0.1365 265.197);
  --font-sans: DM Mono, ui-monospace, monospace;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #2d4053;
  --shadow-2xs: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 1px 2px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 1px 2px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 2px 4px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 4px 6px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 8px 10px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2135 0.0158 244.4904);
  --foreground: oklch(0.9382 0.0162 245.0903);
  --card: oklch(0.2555 0.0237 248.7749);
  --card-foreground: oklch(0.9382 0.0162 245.0903);
  --popover: oklch(0.2555 0.0237 248.7749);
  --popover-foreground: oklch(0.9382 0.0162 245.0903);
  --primary: oklch(0.7682 0.1176 265.0623);
  --primary-foreground: oklch(0.2135 0.0158 244.4904);
  --secondary: oklch(0.3583 0.047 253.7039);
  --secondary-foreground: oklch(0.8908 0.0546 252.6624);
  --muted: oklch(0.3142 0.038 249.1171);
  --muted-foreground: oklch(0.7499 0.0292 248.2165);
  --accent: oklch(0.3929 0.0506 249.2235);
  --accent-foreground: oklch(0.9382 0.0162 245.0903);
  --destructive: oklch(0.7126 0.2344 343.7987);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.368 0.0367 248.8555);
  --input: oklch(0.368 0.0367 248.8555);
  --ring: oklch(0.7682 0.1176 265.0623);
  --chart-1: oklch(0.7682 0.1176 265.0623);
  --chart-2: oklch(0.7266 0.0697 231.5424);
  --chart-3: oklch(0.8926 0.125 190.1169);
  --chart-4: oklch(0.6985 0.134 154.7499);
  --chart-5: oklch(0.7661 0.2192 324.5495);
  --sidebar: oklch(0.2555 0.0237 248.7749);
  --sidebar-foreground: oklch(0.9382 0.0162 245.0903);
  --sidebar-primary: oklch(0.7682 0.1176 265.0623);
  --sidebar-primary-foreground: oklch(0.2135 0.0158 244.4904);
  --sidebar-accent: oklch(0.3929 0.0506 249.2235);
  --sidebar-accent-foreground: oklch(0.9382 0.0162 245.0903);
  --sidebar-border: oklch(0.368 0.0367 248.8555);
  --sidebar-ring: oklch(0.7682 0.1176 265.0623);
  --font-sans: DM Mono, ui-monospace, monospace;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: #2d4053;
  --shadow-2xs: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 1px 2px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 1px 2px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 2px 4px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 4px 6px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.12),
    0px 8px 10px -1px hsl(210 29.6875% 25.098% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(210 29.6875% 25.098% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
